* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.header {
  height:20vh;
  width:100vw;
}

.header h1 {
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.divline {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  width: 100vw;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.homeBody {
  height:68vh;
}

.bodyContent {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vw;
}

.content {
  padding-left: 10vw;
  padding-top: 5vh;
  text-align: center;
  padding-bottom: 5vh;
}

.navigation {
  position: absolute;
  bottom:0vh;
  font-size: 2vw;
}

.divlinebot {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  width: 100vw;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.nav1 {
  display: inline-block;
  position: relative;
  line-height: 10vh;
  vertical-align: middle;
  padding-left: 5vw;
}

.nav2 {
  display: inline-block;
  position: relative;
  text-align: center;
  padding-left: 5vw;
}

.nav3 {
  display: inline-block;
  position: relative;
  text-align: center;
  padding-left: 5vw;
}

.nav4 {
  display: inline-block;
  position: relative;
  text-align: center;
  padding-left: 5vw;
}

.card {
  float: left;
  display: inline-block;
  height: 20vw;
  width: 16vw;
  padding-right: 2vw;
}

.logo {
  margin: 0 auto;
  height:8vw;
  width:8vw;
}

.sample {
  margin: 0 auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  height:4vw;
  width:4vw;
}

.langcon {
  display: inline-block;
  width:2vw;
  height:2vw;
}

.resumicon {
  margin-top: 10vh;
  position: relative;
  left:100%;
  transform: translateX(-50%);
  width:10vw;
  height: 8vw;
}

.icons {
  margin-top: 10vh;
}

.icons img{
  width:5vw;
  height: 5vw;
  margin-right: 2vw;
}
