* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgba(215,215,215,1);
  font-family: 'PT Sans', sans-serif;
  font-size: 2.8vh;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 6vh;
}

h2 {
  font-size: 5vh;
}

.header {
  color:white;
  height:20vh;
  width:100vw;
  background-color: black;
}

.header h1 {
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.divline {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  width: 100vw;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.homeBody {
  height:68vh;
  width:100%
}

.bodyContent {
  padding-top: 5vw;
}

.title {
  padding-left: 8vw;
}

.content {
  padding-left: 18vw;
  padding-top: 8vh;
  text-align: center;
  padding-right:4vw;
  padding-bottom: 5vh;
}

.navigation {
  color:white;
  position: absolute;
  bottom:0vh;
  font-size: 1.7vw;
  background-color: black;
  width:100%;
}

.divlinebot {
  position: absolute;
  bottom:10vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  width: 100vw;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.nav1 {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: inline-block;
  position: relative;
  line-height: 10vh;
  vertical-align: middle;
  padding-left: 5vw;
}

.nav2 {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: inline-block;
  position: relative;
  line-height: 10vh;
  vertical-align: middle;
  padding-left: 5vw;
}

.nav3 {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: inline-block;
  position: relative;
  line-height: 10vh;
  vertical-align: middle;
  padding-left: 5vw;
}

.nav4 {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: inline-block;
  position: relative;
  line-height: 10vh;
  vertical-align: middle;
  padding-left: 5vw;
}

.card {
  float: left;
  margin: 0 auto;
  display: inline-block;
  margin-left: 3vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 14vw;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card h3{
  font-size: 1.5vw;
}

.card p {
  font-size: 1.5vw;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.logo {
  margin: 0 auto;
  height:8vw;
  width:8vw;
}

.sample {
  margin: 0 auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  height:4vw;
  width:4vw;
}

.langcon {
  display: inline-block;
  width:2vw;
  height:2vw;
}

.resumicon {
  position: absolute;
  left:75vw;
  top:35vh;
  width:10vw;
  height: 8vw;
}

.icons {
  margin-top: 10vh;
}

.icons img{
  width:5vw;
  height: 5vw;
  margin-right: 2vw;
}
